<div class="container-fluid hotbird-container">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-hover">
                <thead>
                <tr bgcolor="#cee7ff">
                    <th st-sort="">Txp No</th>
                    <th>Source</th>
                    <th>Date</th>
                    <th>Freq Pol</th>
                    <th>Mode</th>
                    <th>SR-FEC</th>
                    <th>Channel Name</th>
                    <th>web</th>
                    <th>V.PID</th>
                    <th>A.PID</th>
                    <th>Language</th>
                    <th>SID</th>
                    <th>Code</th>
                    <th>Foot<br/>Prints</th>
                    <th>Comments</th>
                    <th>Country</th>
                </tr>
                </thead>
                <tbody>
                <tr id="{{row.id}}" ng-repeat="row in vm.tableData">
                    <td>{{row.txp_no}}</td>
                    <td>{{row.source}}</td>
                    <td>{{row.date_val}}</td>
                    <td>{{row.freq_pol}}</td>
                    <td>{{row.mode}}</td>
                    <td>{{row.sr_fec}}</td>
                    <td>{{row.channel_name}}</td>
                    <td>{{row.web}}</td>
                    <td>{{row.v_pid}}</td>
                    <td>{{row.a_pid}}</td>
                    <td>{{row.language}}</td>
                    <td>{{row.sid}}</td>
                    <td>{{row.code}}</td>
                    <td>{{row.foot_prints}}</td>
                    <td>{{row.comments}}</td>
                    <td><img ng-src="./assets/img/flags/{{row.country}}.png"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
