<div class="container-fluid input-container">
    <div class="row">
        <div class="col-md-12 text-right">
            <button type="button" class="btn btn-default new-btn" ng-click="vm.openModal(0)">Add New</button>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-responsive table-hover">
                <thead>
                <tr bgcolor="#cee7ff">
                    <th st-sort="">Txp No</th>
                    <th>Source</th>
                    <th>Date</th>
                    <th>Freq Pol</th>
                    <th>Mode</th>
                    <th>SR-FEC</th>
                    <th>Channel Name</th>
                    <th>web</th>
                    <th>V.PID</th>
                    <th>A.PID</th>
                    <th>Language</th>
                    <th>SID</th>
                    <th>Code</th>
                    <th>Foot<br/>Prints</th>
                    <th>Comments</th>
                    <th>Country</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr id="{{row.id}}" ng-repeat="row in vm.tableData">
                    <td>{{row.txp_no}}</td>
                    <td>{{row.source}}</td>
                    <td>{{row.date_val}}</td>
                    <td>{{row.freq_pol}}</td>
                    <td>{{row.mode}}</td>
                    <td>{{row.sr_fec}}</td>
                    <td>{{row.channel_name}}</td>
                    <td>{{row.web}}</td>
                    <td>{{row.v_pid}}</td>
                    <td>{{row.a_pid}}</td>
                    <td>{{row.language}}</td>
                    <td>{{row.sid}}</td>
                    <td>{{row.code}}</td>
                    <td>{{row.foot_prints}}</td>
                    <td>{{row.comments}}</td>
                    <td>{{row.country}}</td>
                    <td class="controls-td">
                        <a ng-click="vm.openModal(row.id)">Edit</a> /
                        <a ng-click="vm.deleteData(row.id)">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/ng-template" id="dataform.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title-data">Edit Data</h3>
    </div>
    <div class="modal-body" id="modal-body-data">
        <form class="form-group">
            <div class="row">
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="txp_no">Txp No</label>
                        <input type="text" ng-model="data.txp_no" class="form-control" id="txp_no" placeholder="Txp No" required>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="source">Source</label>
                        <input type="text" ng-model="data.source" class="form-control" id="source" placeholder="Source">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="source">Date</label>
                        <input type="text" ng-model="data.date_val" class="form-control" id="date_val" placeholder="Date">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="freq_pol">Freq Pol</label>
                        <input type="text" ng-model="data.freq_pol" class="form-control" id="freq_pol" placeholder="Freq Pol" required>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="mode">Mode</label>
                        <input type="text" ng-model="data.mode" class="form-control" id="mode" placeholder="Mode">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="sr_fec">SR-FEC</label>
                        <input type="text" ng-model="data.sr_fec" class="form-control" id="sr_fec" placeholder="SR-FEC">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="channel_name">Channel Name</label>
                        <input type="text" ng-model="data.channel_name" class="form-control" id="channel_name" placeholder="Channel Name" required>
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="web">Web</label>
                        <input type="text" ng-model="data.web" class="form-control" id="web" placeholder="Web">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="v_pid">V.PID</label>
                        <input type="text" ng-model="data.v_pid" class="form-control" id="v_pid" placeholder="V.PID">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="a_pid">A.PID</label>
                        <input type="text" ng-model="data.a_pid" class="form-control" id="a_pid" placeholder="A.PID">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="language">Language</label>
                        <input type="text" ng-model="data.language" class="form-control" id="language" placeholder="Language">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="sid">SID</label>
                        <input type="text" ng-model="data.sid" class="form-control" id="sid" placeholder="SID">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="code">Code</label>
                        <input type="text" ng-model="data.code" class="form-control" id="code" placeholder="Code">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="foot_prints">Foot Prints</label>
                        <input type="text" ng-model="data.foot_prints" class="form-control" id="foot_prints" placeholder="Foot Prints">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="comments">Comments</label>
                        <input type="text" ng-model="data.comments" class="form-control" id="comments" placeholder="Comments">
                    </div>
                </div>
                <div class="col-sm-6 col-md-6">
                    <div class="form-group">
                        <label for="countries">Country</label>
                        <select class="form-control" id="countries" ng-model="data.country">
                            <option ng-repeat="country in countries">{{country}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="save()">Save</button>
                        <button class="btn btn-default" ng-click="close()">Cancel</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</script>